.introjs-overlay {
position:absolute;
z-index:99000;
background-color:#000;
opacity:0;
-webkit-transition:all .3s ease-out;
-moz-transition:all .3s ease-out;
-ms-transition:all .3s ease-out;
-o-transition:all .3s ease-out;
transition:all .3s ease-out;
}

.introjs-showElement {
z-index:9999999;
}

.introjs-relativePosition {
position:relative;
}

.introjs-helperLayer {
position:absolute;
z-index:9999998;
background-color:rgba(255,255,255,.9);
border:1px solid rgba(0,0,0,.5);
border-radius:4px;
box-shadow:0 2px 15px rgba(0,0,0,.4);
-webkit-transition:all .3s ease-out;
-moz-transition:all .3s ease-out;
-ms-transition:all .3s ease-out;
-o-transition:all .3s ease-out;
transition:all .3s ease-out;
}

.introjs-arrow {
border:5px solid #FFF;
content:'';
position:absolute;
}

.introjs-arrow.top {
top:-10px;
border-color:transparent transparent #FFF;
}

.introjs-arrow.right {
right:-10px;
top:10px;
border-color:transparent transparent transparent #FFF;
}

.introjs-arrow.bottom {
bottom:-10px;
border-color:#FFF transparent transparent;
}

.introjs-arrow.left {
left:-10px;
top:10px;
border-color:transparent #FFF transparent transparent;
}

.introjs-tooltip {
width:230px;
line-height:17px;
position:absolute;
background-color:#FFF;
min-width:200px;
border-radius:3px;
box-shadow:0 1px 10px rgba(0,0,0,.4);
-webkit-transition:opacity .1s ease-out;
-moz-transition:opacity .1s ease-out;
-ms-transition:opacity .1s ease-out;
-o-transition:opacity .1s ease-out;
transition:opacity .1s ease-out;
padding:10px;
}

.introjs-tooltipbuttons {
text-align:right;
}

.introjs-button {
position:relative;
overflow:visible;
border:1px solid #d4d4d4;
text-decoration:none;
text-shadow:1px 1px 0 #fff;
font:11px/normal sans-serif;
color:#333;
white-space:nowrap;
cursor:pointer;
outline:0;
background-color:#ececec;
background-image:linear-gradient(#f4f4f4,#ececec);
-webkit-background-clip:padding;
-moz-background-clip:padding;
-o-background-clip:padding-box;
-webkit-border-radius:.2em;
-moz-border-radius:.2em;
border-radius:.2em;
zoom:1;
display:inline;
margin:10px 0 0;
padding:.3em .8em;
}

.introjs-button:hover {
text-decoration:none;
box-shadow:0 1px 1px #e3e3e3;
border-color:#bcbcbc;
}

.introjs-button:focus,.introjs-button:active {
background-image:linear-gradient(#ececec,#f4f4f4);
}

.introjs-button::-moz-focus-inner {
border:0;
padding:0;
}

.introjs-skipbutton {
margin-right:5px;
color:#7a7a7a;
}

.introjs-prevbutton {
-webkit-border-radius:.2em 0 0 .2em;
-moz-border-radius:.2em 0 0 .2em;
border-radius:.2em 0 0 .2em;
border-right:0;
}

.introjs-nextbutton {
-webkit-border-radius:0 .2em .2em 0;
-moz-border-radius:0 .2em .2em 0;
border-radius:0 .2em .2em 0;
}

.introjs-disabled,.introjs-disabled:hover {
color:#9a9a9a;
box-shadow:none;
cursor:default;
background-color:#f4f4f4;
background-image:none;
border-color:#d4d4d4;
}

.introjs-helperNumberLayer {
background:linear-gradient(tobottom,#ff30190,#cf0404100%) repeat scroll 0 0 transparent;
border:2px solid #FFF;
border-radius:50% 50% 50% 50%;
box-shadow:0 2px 5px rgba(0,0,0,0.4);
color:#FFF;
font-family:Arial,verdana,tahoma;
font-size:1em;
font-weight:700;
left:-14px;
position:absolute;
text-align:center;
text-shadow:1px 1px 1px rgba(0,0,0,0.3);
top:-13px;
z-index:2147483647!important;
padding:2px 4px;
}